<div class="hero__HeroComponent-jq73fa-0 fKGsDq encore-dark-theme">
  <div class="hero__HeaderContainer-jq73fa-1 qcYsk">
      <h1 class="kKvTd fymGQK en-lie-copy">Listening is everything</h1>
  </div>
  <p class="Type__TypeElement-sc-9snywk-0 jOucII hero__LieSubCopy-jq73fa-4 geFlmU">Millions of songs and podcasts. No credit card needed.</p>
  <a routerLink=" " class="Button-sc-8cs45s-0 iVbIbz">
      <div class="ButtonInner-peijbp-0 hJWOAl">GET SPOTIFY FREE</div>
      <div class="ButtonFocus-tupyzb-0 bWXdpj"></div>
  </a>
</div>